.profile-card {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 200px;
    padding: 20px;
  }
  
  .profile-title {
    font-size: 18px;
    margin: 20px;

  }